.search-form-mobile__switch-divider-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 100%
}

    .search-form-mobile__switch-divider-wrapper .search-form-mobile__switch-divider {
        height: 100%;
        flex-direction: column;
        padding: 10px 0
    }

        .search-form-mobile__switch-divider-wrapper .search-form-mobile__switch-divider .search-form-mobile__switch {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px
        }

        .search-form-mobile__switch-divider-wrapper .search-form-mobile__switch-divider .hr-wannabe-wrapper {
            display: flex;
            justify-content: center
        }

            .search-form-mobile__switch-divider-wrapper .search-form-mobile__switch-divider .hr-wannabe-wrapper .hr-wannabe {
                height: 100%;
                width: 1px;
                background-color: #d7dddb
            }

.bsf-tooltip {
    position: absolute;
    display: inline-block;
    left: 50%;
    bottom: 0;
    z-index: 1
}

    .bsf-tooltip .bsf-tooltip-content, .bsf-tooltip:before {
        text-transform: none;
        font-size: .9em;
        line-height: 1;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;
        position: absolute;
        display: none;
        opacity: 0
    }

    .bsf-tooltip:before {
        content: "";
        border: 5px solid transparent;
        z-index: 1001
    }

    .bsf-tooltip .bsf-tooltip-content {
        text-align: center;
        min-width: 3em;
        max-width: 21em;
        overflow: hidden;
        padding: 7px 12px;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #e12424;
        color: #e12424;
        z-index: 1000;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: auto !important
    }

.bsf-tooltip-multi-line .bsf-tooltip-content {
    max-width: none
}

@media (max-width:767px) {
    .bsf-tooltip-multi-line .bsf-tooltip-content {
        text-overflow: clip;
        white-space: normal !important;
        line-height: 1.3
    }
}

.bsf-tooltip .arrow-border, .bsf-tooltip .bsf-tooltip-content, .bsf-tooltip:before {
    display: block
}

.bsf-tooltip[bsf-tooltip=""] .bsf-tooltip-content, .bsf-tooltip[bsf-tooltip=""]:before {
    display: none !important
}

.bsf-tooltip:before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #e12424
}

.bsf-tooltip .arrow-border {
    text-transform: none;
    font-size: .9em;
    line-height: 1;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    position: absolute;
    z-index: 1002;
    top: 100%;
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 5px 5px;
    left: 50%;
    transform: translate(-50%,.1em)
}

.bsf-tooltip .bsf-tooltip-content {
    top: calc(100% + 5px)
}

.bsf-tooltip .bsf-tooltip-content, .bsf-tooltip:before {
    left: 50%;
    transform: translate(-50%,.5em);
    transform: translate(-50%);
    opacity: .9
}

.bsf__autocomplete .react-autosuggest__container {
    border-radius: 4px;
    border: 1px solid #0087ff
}

@media (min-width:480px) {
    .bsf__autocomplete .react-autosuggest__container {
        border: 1px solid #d7dddb;
        overflow: hidden
    }
}

.bsf__autocomplete .react-autosuggest__container .react-autosuggest__input {
    color: #131717;
    font-weight: 400;
    border: none
}

.bsf__autocomplete .react-autosuggest__suggestions-container--open {
    position: absolute;
    z-index: 3;
    width: 525px;
    max-height: 500px;
    background-color: #fff;
    box-shadow: 0 0 14px 0 rgba(0,0,0,.12),0 14px 14px 0 rgba(0,0,0,.2);
    border-radius: 4px
}

@media (max-width:480px) {
    .bsf__autocomplete .react-autosuggest__suggestions-container--open {
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        height: 92vh !important;
        max-height: unset
    }
}

.bsf__autocomplete .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion--highlighted > div {
    background-color: #efefef !important
}

@media (max-width:480px) {
    .bsf__autocomplete .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion--highlighted > div {
        background-color: transparent !important
    }
}

.bsf__autocomplete .bsf__autocomplete-input-wrapper {
    position: relative
}

    .bsf__autocomplete .bsf__autocomplete-input-wrapper input {
        width: 100%;
        height: 40px;
        font-size: 14px;
        padding: 8px;
        outline: none
    }

@media screen and (max-width:480px) {
    .bsf__autocomplete .bsf__autocomplete-input-wrapper input {
        border: 1px solid #0087ff;
        border-radius: 4px;
        padding-left: 96px;
        font-size: 18px;
        box-sizing: border-box;
        height: 40px
    }

        .bsf__autocomplete .bsf__autocomplete-input-wrapper input:focus::placeholder {
            color: #d7dddb
        }

    .bsf__autocomplete .bsf__autocomplete-input-wrapper.destination input {
        padding-left: 84px
    }
}

@media (max-width:480px) {
    .bsf__autocomplete ul {
        display: flex;
        flex-direction: column;
        background-color: #fff
    }
}

.bsf__autocomplete li {
    list-style-type: none
}

@media (max-width:480px) {
    .bsf__autocomplete li {
        background-color: #fff
    }
}

.bsf__autocomplete li span {
    color: #131717
}

.bsf__autocomplete-icon-wrapper {
    position: absolute;
    top: 49%;
    right: 0;
    transform: translateY(-50%);
    width: 38px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px
}

    .bsf__autocomplete-icon-wrapper .bsf__autocomplete-icon {
        width: 20px;
        height: 20px;
        color: #53605e;
        position: relative;
        top: 1px
    }

.bsf__autocomplete .react-autosuggest__suggestions-list {
    margin-bottom: 0 !important
}

.bsf__autocomplete .react-autosuggest__section-title {
    margin-top: 16px;
    margin-bottom: 4px;
    padding: 0 1rem
}

.local-suggestions-container {
    width: 500px;
    max-height: 500px;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem .1rem rgba(0,0,0,.26666666666666666);
    position: absolute;
    margin-top: .25rem;
    padding: 1rem;
    z-index: 10;
    background-color: #fff
}

.popular-suggestions-view ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0 1rem .75rem;
    gap: .5rem
}

@media (max-width:768px) {
    .popular-suggestions-view ul {
        grid-template-columns: repeat(2,1fr)
    }
}

.popular-suggestions-view ul li > div {
    padding: .25rem .5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center
}

.history-suggestions-view ul {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 1rem .75rem;
    gap: .5rem
}

@media (max-width:576px) {
    .history-suggestions-view ul {
        display: flex;
        gap: 0
    }

        .history-suggestions-view ul li {
            margin-bottom: .5rem
        }
}

.history-suggestions-view ul li > div {
    padding: .25rem .5rem;
    border: 1px solid #ddd;
    border-radius: 4px
}

.history-suggested-route {
    display: flex;
    flex-direction: column;
    height: unset !important;
    align-items: flex-start !important
}

.history-route-item {
    font-weight: 700;
    display: flex;
    align-items: center
}

.PresetDateRangePicker_panel {
    padding: 0 22px 11px
}

.PresetDateRangePicker_button {
    position: relative;
    height: 100%;
    text-align: center;
    background: 0 0;
    border: 2px solid #00a699;
    color: #00a699;
    padding: 4px 12px;
    margin-right: 8px;
    font: inherit;
    font-weight: 700;
    line-height: normal;
    overflow: visible;
    box-sizing: border-box;
    cursor: pointer
}

    .PresetDateRangePicker_button:active {
        outline: 0
    }

.PresetDateRangePicker_button__selected {
    color: #fff;
    background: #00a699
}

.SingleDatePickerInput {
    display: inline-block;
    background-color: #fff
}

.SingleDatePickerInput__withBorder {
    border-radius: 2px;
    border: 1px solid #dbdbdb
}

.SingleDatePickerInput__rtl {
    direction: rtl
}

.SingleDatePickerInput__disabled {
    background-color: #f2f2f2
}

.SingleDatePickerInput__block {
    display: block
}

.SingleDatePickerInput__showClearDate {
    padding-right: 30px
}

.SingleDatePickerInput_clearDate {
    background: 0 0;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px 0 5px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}

.SingleDatePickerInput_clearDate__default:focus, .SingleDatePickerInput_clearDate__default:hover {
    background: #dbdbdb;
    border-radius: 50%
}

.SingleDatePickerInput_clearDate__small {
    padding: 6px
}

.SingleDatePickerInput_clearDate__hide {
    visibility: hidden
}

.SingleDatePickerInput_clearDate_svg {
    fill: #82888a;
    height: 12px;
    width: 15px;
    vertical-align: middle
}

.SingleDatePickerInput_clearDate_svg__small {
    height: 9px
}

.SingleDatePickerInput_calendarIcon {
    background: 0 0;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin: 0 5px 0 10px
}

.SingleDatePickerInput_calendarIcon_svg {
    fill: #82888a;
    height: 15px;
    width: 14px;
    vertical-align: middle
}

.SingleDatePicker {
    position: relative;
    display: inline-block
}

.SingleDatePicker__block {
    display: block
}

.SingleDatePicker_picker {
    z-index: 1;
    background-color: #fff;
    position: absolute
}

.SingleDatePicker_picker__rtl {
    direction: rtl
}

.SingleDatePicker_picker__directionLeft {
    left: 0
}

.SingleDatePicker_picker__directionRight {
    right: 0
}

.SingleDatePicker_picker__portal {
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.SingleDatePicker_picker__fullScreenPortal {
    background-color: #fff
}

.SingleDatePicker_closeButton {
    background: 0 0;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    z-index: 2
}

    .SingleDatePicker_closeButton:focus, .SingleDatePicker_closeButton:hover {
        color: darken(#cacccd,10%);
        text-decoration: none
    }

.SingleDatePicker_closeButton_svg {
    height: 15px;
    width: 15px;
    fill: #cacccd
}

.DayPickerKeyboardShortcuts_buttonReset {
    background: 0 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    cursor: pointer;
    font-size: 14px
}

    .DayPickerKeyboardShortcuts_buttonReset:active {
        outline: 0
    }

.DayPickerKeyboardShortcuts_show {
    width: 33px;
    height: 26px;
    position: absolute;
    z-index: 2
}

    .DayPickerKeyboardShortcuts_show:before {
        content: "";
        display: block;
        position: absolute
    }

.DayPickerKeyboardShortcuts_show__bottomRight {
    bottom: 0;
    right: 0
}

    .DayPickerKeyboardShortcuts_show__bottomRight:before {
        border-top: 26px solid transparent;
        border-right: 33px solid #00a699;
        bottom: 0;
        right: 0
    }

    .DayPickerKeyboardShortcuts_show__bottomRight:hover:before {
        border-right: 33px solid #008489
    }

.DayPickerKeyboardShortcuts_show__topRight {
    top: 0;
    right: 0
}

    .DayPickerKeyboardShortcuts_show__topRight:before {
        border-bottom: 26px solid transparent;
        border-right: 33px solid #00a699;
        top: 0;
        right: 0
    }

    .DayPickerKeyboardShortcuts_show__topRight:hover:before {
        border-right: 33px solid #008489
    }

.DayPickerKeyboardShortcuts_show__topLeft {
    top: 0;
    left: 0
}

    .DayPickerKeyboardShortcuts_show__topLeft:before {
        border-bottom: 26px solid transparent;
        border-left: 33px solid #00a699;
        top: 0;
        left: 0
    }

    .DayPickerKeyboardShortcuts_show__topLeft:hover:before {
        border-left: 33px solid #008489
    }

.DayPickerKeyboardShortcuts_showSpan {
    color: #fff;
    position: absolute
}

.DayPickerKeyboardShortcuts_showSpan__bottomRight {
    bottom: 0;
    right: 5px
}

.DayPickerKeyboardShortcuts_showSpan__topRight {
    top: 1px;
    right: 5px
}

.DayPickerKeyboardShortcuts_showSpan__topLeft {
    top: 1px;
    left: 5px
}

.DayPickerKeyboardShortcuts_panel {
    overflow: auto;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    padding: 22px;
    margin: 33px;
    text-align: left
}

.DayPickerKeyboardShortcuts_title {
    font-size: 16px;
    font-weight: 700;
    margin: 0
}

.DayPickerKeyboardShortcuts_list {
    list-style: none;
    padding: 0;
    font-size: 14px
}

.DayPickerKeyboardShortcuts_close {
    position: absolute;
    right: 22px;
    top: 22px;
    z-index: 2
}

    .DayPickerKeyboardShortcuts_close:active {
        outline: 0
    }

.DayPickerKeyboardShortcuts_closeSvg {
    height: 15px;
    width: 15px;
    fill: #cacccd
}

    .DayPickerKeyboardShortcuts_closeSvg:focus, .DayPickerKeyboardShortcuts_closeSvg:hover {
        fill: #82888a
    }

.CalendarDay {
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    text-align: center
}

    .CalendarDay:active {
        outline: 0
    }

.CalendarDay__defaultCursor {
    cursor: default
}

.CalendarDay__default {
    border: 1px solid #e4e7e7;
    color: #484848;
    background: #fff
}

    .CalendarDay__default:hover {
        background: #e4e7e7;
        border: 1px solid #e4e7e7;
        color: inherit
    }

.CalendarDay__hovered_offset {
    background: #f4f5f5;
    border: 1px double #e4e7e7;
    color: inherit
}

.CalendarDay__outside {
    border: 0;
    background: #fff;
    color: #484848
}

    .CalendarDay__outside:hover {
        border: 0
    }

.CalendarDay__blocked_minimum_nights {
    background: #fff;
    border: 1px solid #eceeee;
    color: #cacccd
}

    .CalendarDay__blocked_minimum_nights:active, .CalendarDay__blocked_minimum_nights:hover {
        background: #fff;
        color: #cacccd
    }

.CalendarDay__highlighted_calendar {
    background: #ffe8bc;
    color: #484848
}

    .CalendarDay__highlighted_calendar:active, .CalendarDay__highlighted_calendar:hover {
        background: #ffce71;
        color: #484848
    }

.CalendarDay__selected_span {
    background: #66e2da;
    border: 1px double #33dacd;
    color: #fff
}

    .CalendarDay__selected_span:active, .CalendarDay__selected_span:hover {
        background: #33dacd;
        border: 1px double #33dacd;
        color: #fff
    }

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background: #00a699;
    border: 1px double #00a699;
    color: #fff
}

.CalendarDay__hovered_span, .CalendarDay__hovered_span:hover {
    background: #b2f1ec;
    border: 1px double #80e8e0;
    color: #007a87
}

    .CalendarDay__hovered_span:active {
        background: #80e8e0;
        border: 1px double #80e8e0;
        color: #007a87
    }

.CalendarDay__blocked_calendar, .CalendarDay__blocked_calendar:active, .CalendarDay__blocked_calendar:hover {
    background: #cacccd;
    border: 1px solid #cacccd;
    color: #82888a
}

.CalendarDay__blocked_out_of_range, .CalendarDay__blocked_out_of_range:active, .CalendarDay__blocked_out_of_range:hover {
    background: #fff;
    border: 1px solid #e4e7e7;
    color: #cacccd
}

.CalendarDay__hovered_start_first_possible_end {
    background: #eceeee;
    border: 1px double #eceeee
}

.CalendarDay__hovered_start_blocked_min_nights {
    background: #eceeee;
    border: 1px double #e4e7e7
}

.CalendarMonth {
    background: #fff;
    text-align: center;
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.CalendarMonth_table {
    border-collapse: collapse;
    border-spacing: 0
}

.CalendarMonth_verticalSpacing {
    border-collapse: separate
}

.CalendarMonth_caption {
    color: #484848;
    font-size: 18px;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 37px;
    caption-side: top
}

.CalendarMonth_caption__verticalScrollable {
    padding-top: 12px;
    padding-bottom: 7px
}

.CalendarMonthGrid {
    background: #fff;
    text-align: left;
    z-index: 0
}

.CalendarMonthGrid__animating {
    z-index: 1
}

.CalendarMonthGrid__horizontal {
    position: absolute;
    left: 9px
}

.CalendarMonthGrid__vertical {
    margin: 0 auto
}

.CalendarMonthGrid__vertical_scrollable {
    margin: 0 auto;
    overflow-y: scroll
}

.CalendarMonthGrid_month__horizontal {
    display: inline-block;
    vertical-align: top;
    min-height: 100%
}

.CalendarMonthGrid_month__hideForAnimation {
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none
}

.CalendarMonthGrid_month__hidden {
    visibility: hidden
}

.DayPickerNavigation {
    position: relative;
    z-index: 2
}

.DayPickerNavigation__horizontal {
    height: 0
}

.DayPickerNavigation__verticalDefault {
    position: absolute;
    width: 100%;
    height: 52px;
    bottom: 0;
    left: 0
}

.DayPickerNavigation__verticalScrollableDefault {
    position: relative
}

.DayPickerNavigation_button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    padding: 0;
    margin: 0
}

.DayPickerNavigation_button__default {
    border: 1px solid #e4e7e7;
    background-color: #fff;
    color: #757575
}

    .DayPickerNavigation_button__default:focus, .DayPickerNavigation_button__default:hover {
        border: 1px solid #c4c4c4
    }

    .DayPickerNavigation_button__default:active {
        background: #f2f2f2
    }

.DayPickerNavigation_button__disabled {
    cursor: default;
    border: 1px solid #f2f2f2
}

    .DayPickerNavigation_button__disabled:focus, .DayPickerNavigation_button__disabled:hover {
        border: 1px solid #f2f2f2
    }

    .DayPickerNavigation_button__disabled:active {
        background: 0 0
    }

.DayPickerNavigation_button__horizontalDefault {
    position: absolute;
    top: 18px;
    line-height: .78;
    border-radius: 3px;
    padding: 6px 9px
}

.DayPickerNavigation_leftButton__horizontalDefault {
    left: 22px
}

.DayPickerNavigation_rightButton__horizontalDefault {
    right: 22px
}

.DayPickerNavigation_button__verticalDefault {
    padding: 5px;
    background: #fff;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
    position: relative;
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 50%
}

.DayPickerNavigation_nextButton__verticalDefault {
    border-left: 0
}

.DayPickerNavigation_nextButton__verticalScrollableDefault {
    width: 100%
}

.DayPickerNavigation_svg__horizontal {
    height: 19px;
    width: 19px;
    fill: #82888a;
    display: block
}

.DayPickerNavigation_svg__vertical {
    height: 42px;
    width: 42px;
    fill: #484848
}

.DayPickerNavigation_svg__disabled {
    fill: #f2f2f2
}

.DayPicker {
    position: relative;
    text-align: left
}

.DayPicker, .DayPicker__horizontal {
    background: #fff
}

.DayPicker__verticalScrollable {
    height: 100%
}

.DayPicker__hidden {
    visibility: hidden
}

.DayPicker__withBorder {
    box-shadow: 0 2px 6px rgba(0,0,0,.05),0 0 0 1px rgba(0,0,0,.07);
    border-radius: 3px
}

.DayPicker_portal__horizontal {
    box-shadow: none;
    position: absolute;
    left: 50%;
    top: 50%
}

.DayPicker_portal__vertical {
    position: static
}

.DayPicker_focusRegion {
    outline: 0
}

.DayPicker_calendarInfo__horizontal, .DayPicker_wrapper__horizontal {
    display: inline-block;
    vertical-align: top
}

.DayPicker_weekHeaders {
    position: relative
}

.DayPicker_weekHeaders__horizontal {
    margin-left: 9px
}

.DayPicker_weekHeader {
    color: #757575;
    position: absolute;
    top: 62px;
    z-index: 2;
    text-align: left
}

.DayPicker_weekHeader__vertical {
    left: 50%
}

.DayPicker_weekHeader__verticalScrollable {
    top: 0;
    display: table-row;
    border-bottom: 1px solid #dbdbdb;
    background: #fff;
    margin-left: 0;
    left: 0;
    width: 100%;
    text-align: center
}

.DayPicker_weekHeader_ul {
    list-style: none;
    margin: 1px 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px
}

.DayPicker_weekHeader_li {
    display: inline-block;
    text-align: center
}

.DayPicker_transitionContainer {
    position: relative;
    overflow: hidden;
    border-radius: 3px
}

.DayPicker_transitionContainer__horizontal {
    transition: height .2s ease-in-out
}

.DayPicker_transitionContainer__vertical {
    width: 100%
}

.DayPicker_transitionContainer__verticalScrollable {
    padding-top: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: scroll
}

.DateInput {
    margin: 0;
    padding: 0;
    background: #fff;
    position: relative;
    display: inline-block;
    width: 130px;
    vertical-align: middle
}

.DateInput__small {
    width: 97px
}

.DateInput__block {
    width: 100%
}

.DateInput__disabled {
    background: #f2f2f2;
    color: #dbdbdb
}

.DateInput_input {
    font-weight: 200;
    font-size: 19px;
    line-height: 24px;
    color: #484848;
    background-color: #fff;
    width: 100%;
    padding: 11px 11px 9px;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0
}

.DateInput_input__small {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: .2px;
    padding: 7px 7px 5px
}

.DateInput_input__regular {
    font-weight: auto
}

.DateInput_input__readOnly {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.DateInput_input__focused {
    outline: 0;
    background: #fff;
    border: 0;
    border-bottom: 2px solid #008489
}

.DateInput_input__disabled {
    background: #f2f2f2;
    font-style: italic
}

.DateInput_screenReaderMessage {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.DateInput_fang {
    position: absolute;
    width: 20px;
    height: 10px;
    left: 22px;
    z-index: 2
}

.DateInput_fangShape {
    fill: #fff
}

.DateInput_fangStroke {
    stroke: #dbdbdb;
    fill: transparent
}

.DateRangePickerInput {
    background-color: #fff;
    display: inline-block
}

.DateRangePickerInput__disabled {
    background: #f2f2f2
}

.DateRangePickerInput__withBorder {
    border-radius: 2px;
    border: 1px solid #dbdbdb
}

.DateRangePickerInput__rtl {
    direction: rtl
}

.DateRangePickerInput__block {
    display: block
}

.DateRangePickerInput__showClearDates {
    padding-right: 30px
}

.DateRangePickerInput_arrow {
    display: inline-block;
    vertical-align: middle;
    color: #484848
}

.DateRangePickerInput_arrow_svg {
    vertical-align: middle;
    fill: #484848;
    height: 24px;
    width: 24px
}

.DateRangePickerInput_clearDates {
    background: 0 0;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px 0 5px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}

.DateRangePickerInput_clearDates__small {
    padding: 6px
}

.DateRangePickerInput_clearDates_default:focus, .DateRangePickerInput_clearDates_default:hover {
    background: #dbdbdb;
    border-radius: 50%
}

.DateRangePickerInput_clearDates__hide {
    visibility: hidden
}

.DateRangePickerInput_clearDates_svg {
    fill: #82888a;
    height: 12px;
    width: 15px;
    vertical-align: middle
}

.DateRangePickerInput_clearDates_svg__small {
    height: 9px
}

.DateRangePickerInput_calendarIcon {
    background: 0 0;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin: 0 5px 0 10px
}

.DateRangePickerInput_calendarIcon_svg {
    fill: #82888a;
    height: 15px;
    width: 14px;
    vertical-align: middle
}

.DateRangePicker {
    position: relative;
    display: inline-block
}

.DateRangePicker__block {
    display: block
}

.DateRangePicker_picker {
    z-index: 1;
    background-color: #fff;
    position: absolute
}

.DateRangePicker_picker__rtl {
    direction: rtl
}

.DateRangePicker_picker__directionLeft {
    left: 0
}

.DateRangePicker_picker__directionRight {
    right: 0
}

.DateRangePicker_picker__portal {
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.DateRangePicker_picker__fullScreenPortal {
    background-color: #fff
}

.DateRangePicker_closeButton {
    background: 0 0;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    z-index: 2
}

    .DateRangePicker_closeButton:focus, .DateRangePicker_closeButton:hover {
        color: darken(#cacccd,10%);
        text-decoration: none
    }

.DateRangePicker_closeButton_svg {
    height: 15px;
    width: 15px;
    fill: #cacccd
}

.bsf__mobile-datepicker-wrapper.no-return-date {
    opacity: .5
}

@media screen and (max-width:480px) {
    .bsf__mobile-datepicker-wrapper .DayPicker {
        height: 100%;
        padding-top: 50px
    }
}

.bsf__mobile-datepicker-wrapper .DayPickerNavigation_button {
    position: absolute;
    top: 21px;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none
}

    .bsf__mobile-datepicker-wrapper .DayPickerNavigation_button .arrow-button {
        color: #bdc5c1
    }

    .bsf__mobile-datepicker-wrapper .DayPickerNavigation_button:hover {
        background-color: #eff3f2
    }

        .bsf__mobile-datepicker-wrapper .DayPickerNavigation_button:hover .arrow-button {
            color: #53605e !important
        }

    .bsf__mobile-datepicker-wrapper .DayPickerNavigation_button:first-of-type {
        left: 42px
    }

        .bsf__mobile-datepicker-wrapper .DayPickerNavigation_button:first-of-type.invisible {
            display: none
        }

    .bsf__mobile-datepicker-wrapper .DayPickerNavigation_button:last-of-type {
        right: 42px
    }

.bsf__mobile-datepicker-wrapper .DateInput_input {
    cursor: pointer
}

.bsf__mobile-datepicker-wrapper .DateInput_input__focused {
    border-bottom: none !important
}

.bsf__mobile-datepicker-wrapper .CalendarDay__default {
    color: #53605e;
    border: 1px solid transparent !important
}

    .bsf__mobile-datepicker-wrapper .CalendarDay__default:focus {
        outline: none
    }

    .bsf__mobile-datepicker-wrapper .CalendarDay__default:not(.CalendarDay__selected):hover {
        background: transparent !important
    }

        .bsf__mobile-datepicker-wrapper .CalendarDay__default:not(.CalendarDay__selected):hover .custom-day {
            border: 1px solid #2dc44d !important;
            border-radius: 4px;
            background: transparent
        }

    .bsf__mobile-datepicker-wrapper .CalendarDay__default.CalendarDay__blocked_out_of_range .custom-day {
        color: #bdc5c1 !important
    }

        .bsf__mobile-datepicker-wrapper .CalendarDay__default.CalendarDay__blocked_out_of_range .custom-day:hover {
            border: none !important
        }

    .bsf__mobile-datepicker-wrapper .CalendarDay__default.CalendarDay__today {
        color: #2dc44d
    }

    .bsf__mobile-datepicker-wrapper .CalendarDay__default .custom-day {
        position: relative;
        width: 43px !important;
        height: 43px !important;
        border-radius: 4px;
        padding: 14px 12px;
        line-height: 1;
        display: inline-block;
        font-size: 16px;
        border: 1px solid transparent
    }

    .bsf__mobile-datepicker-wrapper .CalendarDay__default .custom-day--special:after {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        right: 7px;
        top: 7px;
        background-color: #eaa61a
    }

    .bsf__mobile-datepicker-wrapper .CalendarDay__default:nth-of-type(6), .bsf__mobile-datepicker-wrapper .CalendarDay__default:nth-of-type(7) {
        background-color: #f8faf9
    }

.bsf__mobile-datepicker-wrapper .CalendarDay__selected {
    background-color: transparent !important
}

    .bsf__mobile-datepicker-wrapper .CalendarDay__selected .custom-day {
        background-color: #2dc44d !important;
        border-radius: 4px;
        color: #fff !important
    }

    .bsf__mobile-datepicker-wrapper .CalendarDay__selected .custom-day--special:after {
        background-color: #fff !important
    }

.bsf__mobile-datepicker-wrapper .CalendarMonth_table {
    border-collapse: separate
}

.bsf__mobile-datepicker-wrapper .SingleDatePicker_picker {
    z-index: 2
}

@media screen and (min-width:481px) {
    .bsf__mobile-datepicker-wrapper .SingleDatePicker_picker {
        top: 43px !important
    }
}

.bsf__mobile-datepicker-wrapper .tab__content {
    position: static !important
}

.bsf__mobile-datepicker-wrapper .SingleDatePicker_picker__fullScreenPortal {
    opacity: 0;
    display: none;
    overflow: auto;
    z-index: 9999 !important
}

.bsf__mobile-datepicker-wrapper .SingleDatePicker_picker__fullScreenPortal__visible {
    opacity: 1;
    display: block
}

    .bsf__mobile-datepicker-wrapper .SingleDatePicker_picker__fullScreenPortal__visible .DayPicker__hidden {
        visibility: visible !important
    }

.bsf__mobile-datepicker-wrapper .SingleDatePicker_picker__fullScreenPortal .DayPicker_weekHeader__vertical {
    position: fixed !important;
    top: 44px !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    padding: 8px 0 !important;
    background-color: #f8faf9 !important
}

    .bsf__mobile-datepicker-wrapper .SingleDatePicker_picker__fullScreenPortal .DayPicker_weekHeader__vertical ul li {
        width: 14.28571% !important
    }

        .bsf__mobile-datepicker-wrapper .SingleDatePicker_picker__fullScreenPortal .DayPicker_weekHeader__vertical ul li small {
            font-size: 16px !important
        }

.bsf__mobile-datepicker-wrapper .SingleDatePicker_picker__fullScreenPortal .DayPickerNavigation__vertical {
    display: none !important
}

.bsf__mobile-datepicker-wrapper .SingleDatePicker_picker__fullScreenPortal .DayPicker_transitionContainer__vertical {
    margin-top: -10px !important;
    height: calc(100vh - 40px) !important;
    overflow: unset !important
}

    .bsf__mobile-datepicker-wrapper .SingleDatePicker_picker__fullScreenPortal .DayPicker_transitionContainer__vertical .CalendarMonthGrid__vertical {
        width: 100% !important
    }

        .bsf__mobile-datepicker-wrapper .SingleDatePicker_picker__fullScreenPortal .DayPicker_transitionContainer__vertical .CalendarMonthGrid__vertical .CalendarMonth {
            padding: 0 0 20px !important;
            margin-bottom: 10px !important;
            border-bottom: 1px solid #d7dddb
        }

            .bsf__mobile-datepicker-wrapper .SingleDatePicker_picker__fullScreenPortal .DayPicker_transitionContainer__vertical .CalendarMonthGrid__vertical .CalendarMonth .CalendarMonth_caption {
                padding-top: 16px !important;
                padding-bottom: 16px !important;
                color: #131717 !important
            }

            .bsf__mobile-datepicker-wrapper .SingleDatePicker_picker__fullScreenPortal .DayPicker_transitionContainer__vertical .CalendarMonthGrid__vertical .CalendarMonth .CalendarMonth_table {
                width: 100% !important;
                margin-bottom: 17px !important;
                border-collapse: collapse !important
            }

                .bsf__mobile-datepicker-wrapper .SingleDatePicker_picker__fullScreenPortal .DayPicker_transitionContainer__vertical .CalendarMonthGrid__vertical .CalendarMonth .CalendarMonth_table tbody tr td:last-child, .bsf__mobile-datepicker-wrapper .SingleDatePicker_picker__fullScreenPortal .DayPicker_transitionContainer__vertical .CalendarMonthGrid__vertical .CalendarMonth .CalendarMonth_table tbody tr td:nth-child(6) {
                    background-color: #f8faf9 !important
                }

        .bsf__mobile-datepicker-wrapper .SingleDatePicker_picker__fullScreenPortal .DayPicker_transitionContainer__vertical .CalendarMonthGrid__vertical .CalendarMonthGrid_month__hidden {
            display: none !important
        }

.bsf__mobile-datepicker-wrapper .SingleDatePicker_closeButton {
    top: 6px !important;
    position: fixed !important
}

    .bsf__mobile-datepicker-wrapper .SingleDatePicker_closeButton .SingleDatePicker_closeButton_svg {
        fill: #727e7c
    }

.bsf__mobile-datepicker-wrapper .specialDay__description {
    text-align: left;
    margin-top: 4px;
    position: relative;
    margin-left: 25px;
    font-size: 12px
}

    .bsf__mobile-datepicker-wrapper .specialDay__description:before {
        content: "";
        width: 6px;
        height: 6px;
        position: absolute;
        left: -11px;
        background-color: #eaa61a;
        border-radius: 50%;
        top: 6px
    }

.bsf__mobile-datepicker-wrapper .info-wrapper {
    position: relative;
    height: 45px
}

    .bsf__mobile-datepicker-wrapper .info-wrapper .info {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 16px 40px 8px 8px;
        font-size: 16px;
        font-weight: 700;
        color: #2dc44d;
        background-color: #f8faf9
    }

.bsf__desktop-datepicker-wrapper {
    width: 100%
}

    .bsf__desktop-datepicker-wrapper .datepicker-input-overlay {
        width: 100%;
        height: calc(100% - 20px);
        position: absolute;
        z-index: 5;
        top: 20px;
        cursor: pointer;
        opacity: 0
    }

    .bsf__desktop-datepicker-wrapper .SingleDatePicker, .bsf__desktop-datepicker-wrapper .SingleDatePicker .SingleDatePickerInput {
        width: 100%
    }

        .bsf__desktop-datepicker-wrapper .SingleDatePicker .SingleDatePickerInput__withBorder, .bsf__desktop-datepicker-wrapper .SingleDatePicker .SingleDatePickerInput__withBorder * {
            border-radius: 4px
        }

        .bsf__desktop-datepicker-wrapper .SingleDatePicker .DateInput {
            width: 100%
        }

            .bsf__desktop-datepicker-wrapper .SingleDatePicker .DateInput .DateInput_input {
                width: 100%;
                cursor: pointer;
                height: 40px;
                font-size: 14px;
                font-weight: 400;
                color: #53605e;
                line-height: 19px
            }

            .bsf__desktop-datepicker-wrapper .SingleDatePicker .DateInput .DateInput_input__focused {
                border-bottom: none !important
            }

    .bsf__desktop-datepicker-wrapper.no-return-date {
        opacity: .5
    }

    .bsf__desktop-datepicker-wrapper .DayPickerNavigation_button {
        position: absolute;
        top: 21px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none
    }

        .bsf__desktop-datepicker-wrapper .DayPickerNavigation_button .arrow-button {
            color: #bdc5c1
        }

        .bsf__desktop-datepicker-wrapper .DayPickerNavigation_button:hover {
            background-color: #eff3f2
        }

            .bsf__desktop-datepicker-wrapper .DayPickerNavigation_button:hover .arrow-button {
                color: #53605e !important
            }

        .bsf__desktop-datepicker-wrapper .DayPickerNavigation_button:first-of-type {
            left: 42px
        }

            .bsf__desktop-datepicker-wrapper .DayPickerNavigation_button:first-of-type.invisible {
                display: none
            }

        .bsf__desktop-datepicker-wrapper .DayPickerNavigation_button:last-of-type {
            right: 42px
        }

            .bsf__desktop-datepicker-wrapper .DayPickerNavigation_button:last-of-type.invisible {
                display: none
            }

    .bsf__desktop-datepicker-wrapper .CalendarDay__default {
        color: #53605e;
        border: 1px solid transparent !important
    }

        .bsf__desktop-datepicker-wrapper .CalendarDay__default:focus {
            outline: none
        }

        .bsf__desktop-datepicker-wrapper .CalendarDay__default:not(.CalendarDay__selected):hover {
            background: transparent !important
        }

            .bsf__desktop-datepicker-wrapper .CalendarDay__default:not(.CalendarDay__selected):hover .custom-day {
                border: 1px solid #2dc44d !important;
                border-radius: 4px;
                background: transparent
            }

        .bsf__desktop-datepicker-wrapper .CalendarDay__default.CalendarDay__blocked_out_of_range {
            color: #bdc5c1 !important
        }

            .bsf__desktop-datepicker-wrapper .CalendarDay__default.CalendarDay__blocked_out_of_range:hover .custom-day {
                border: none !important
            }

        .bsf__desktop-datepicker-wrapper .CalendarDay__default.CalendarDay__today {
            color: #2dc44d
        }

        .bsf__desktop-datepicker-wrapper .CalendarDay__default .custom-day {
            display: flex;
            width: 43px;
            height: 43px;
            justify-content: center;
            align-items: center;
            position: relative;
            border: 1px solid transparent
        }

        .bsf__desktop-datepicker-wrapper .CalendarDay__default .custom-day--special:after {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            right: 7px;
            top: 7px;
            background-color: #eaa61a
        }

        .bsf__desktop-datepicker-wrapper .CalendarDay__default:nth-of-type(6), .bsf__desktop-datepicker-wrapper .CalendarDay__default:nth-of-type(7) {
            background-color: #f8faf9
        }

    .bsf__desktop-datepicker-wrapper .CalendarDay__selected .custom-day {
        background-color: #2dc44d !important;
        border-radius: 4px;
        color: #fff !important
    }

    .bsf__desktop-datepicker-wrapper .CalendarDay__selected .custom-day--special:after {
        background-color: #fff !important
    }

    .bsf__desktop-datepicker-wrapper .CalendarMonth_table {
        border-collapse: separate
    }

    .bsf__desktop-datepicker-wrapper .SingleDatePicker_picker {
        z-index: 2;
        top: 43px !important
    }

    .bsf__desktop-datepicker-wrapper .SingleDatePicker_picker__directionLeft {
        box-shadow: 0 0 14px 0 rgba(0,0,0,.12),0 14px 14px 0 rgba(0,0,0,.2);
        border-radius: 4px;
        z-index: 3
    }

        .bsf__desktop-datepicker-wrapper .SingleDatePicker_picker__directionLeft .DayPicker__horizontal {
            box-shadow: none;
            border-radius: 3px
        }

    .bsf__desktop-datepicker-wrapper .tab__content {
        position: static !important
    }

    .bsf__desktop-datepicker-wrapper .SingleDatePicker_closeButton {
        top: 40px
    }

    .bsf__desktop-datepicker-wrapper .DayPicker_transitionContainer__horizontal {
        height: auto !important;
        transition: none;
        padding-bottom: 16px
    }

        .bsf__desktop-datepicker-wrapper .DayPicker_transitionContainer__horizontal .specialDay__description__container {
            margin-top: 8px
        }

        .bsf__desktop-datepicker-wrapper .DayPicker_transitionContainer__horizontal .CalendarMonthGrid_month__horizontal {
            display: flex;
            flex-direction: column;
            justify-content: space-between
        }

        .bsf__desktop-datepicker-wrapper .DayPicker_transitionContainer__horizontal .CalendarMonthGrid_month__hidden {
            display: none !important
        }

        .bsf__desktop-datepicker-wrapper .DayPicker_transitionContainer__horizontal .CalendarMonthGrid__horizontal {
            position: relative;
            display: flex;
            flex-direction: row
        }

            .bsf__desktop-datepicker-wrapper .DayPicker_transitionContainer__horizontal .CalendarMonthGrid__horizontal .CalendarMonth_table {
                margin-top: -2px !important
            }

                .bsf__desktop-datepicker-wrapper .DayPicker_transitionContainer__horizontal .CalendarMonthGrid__horizontal .CalendarMonth_table tbody tr td:last-child, .bsf__desktop-datepicker-wrapper .DayPicker_transitionContainer__horizontal .CalendarMonthGrid__horizontal .CalendarMonth_table tbody tr td:nth-child(6) {
                    background-color: #f8faf9 !important
                }

                .bsf__desktop-datepicker-wrapper .DayPicker_transitionContainer__horizontal .CalendarMonthGrid__horizontal .CalendarMonth_table .CalendarDay__default .custom-day {
                    font-size: 14px !important
                }

    .bsf__desktop-datepicker-wrapper .specialDay__description {
        text-align: left;
        margin-top: 4px;
        position: relative;
        margin-left: 25px;
        font-size: 12px;
        max-width: 320px
    }

        .bsf__desktop-datepicker-wrapper .specialDay__description:before {
            content: "";
            width: 6px;
            height: 6px;
            position: absolute;
            left: -11px;
            background-color: #eaa61a;
            border-radius: 50%;
            top: 6px
        }

    .bsf__desktop-datepicker-wrapper .DayPicker_weekHeader {
        background-color: transparent !important
    }

        .bsf__desktop-datepicker-wrapper .DayPicker_weekHeader ul li small {
            font-size: 100% !important
        }

        .bsf__desktop-datepicker-wrapper .DayPicker_weekHeader ul li:last-child, .bsf__desktop-datepicker-wrapper .DayPicker_weekHeader ul li:nth-last-child(2) {
            background-color: #f8faf9 !important
        }

.bsf__popular-option {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    padding: .25rem;
    text-align: center
}

.bsf__popular-options {
    display: flex;
    flex-wrap: wrap
}

.bsf__popular-options__wrapper {
    padding: 0 10px;
    margin-top: 20px
}

.bsf__popular-options__label {
    margin-bottom: 10px
}

.bsf__popular-option__content {
    background-color: #fff;
    border: 1px solid #d7dddb;
    border-radius: 4px;
    min-height: 32px;
    line-height: 30px;
    padding: 0 .25rem;
    width: 100%
}

    .bsf__popular-option__content:hover {
        background-color: #f8faf9
    }

@keyframes fadein {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.bsf-mobile-dialog {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10000;
    animation: fadein .2s
}

body.mobile-dialog-active {
    position: fixed !important;
    overflow-y: scroll !important
}

*, :after, :before {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

@media screen and (max-width:480px) {
    .search-form-mobile .bsf__trip-type > div {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        color: #53605e;
        height: 40px;
        font-size: 14px
    }

        .search-form-mobile .bsf__trip-type > div.active {
            border: 1px solid #2dc44d;
            color: #2dc44d;
            font-weight: 700
        }

    .search-form-mobile .search-form-mobile__whereabout-wrapper {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        height: 93px;
        padding: 8px
    }

        .search-form-mobile .search-form-mobile__whereabout-wrapper .search-form-mobile__whereabout-item {
            display: flex;
            align-items: center;
            flex-flow: column wrap;
            min-width: 130px;
            text-align: center
        }

            .search-form-mobile .search-form-mobile__whereabout-wrapper .search-form-mobile__whereabout-item span, .search-form-mobile .search-form-mobile__whereabout-wrapper .search-form-mobile__whereabout-item strong {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 95%
            }

            .search-form-mobile .search-form-mobile__whereabout-wrapper .search-form-mobile__whereabout-item span {
                font-size: 14px;
                line-height: 16px
            }

            .search-form-mobile .search-form-mobile__whereabout-wrapper .search-form-mobile__whereabout-item .position-bottom-text {
                display: inline-block
            }

            .search-form-mobile .search-form-mobile__whereabout-wrapper .search-form-mobile__whereabout-item span:first-child {
                color: #131717
            }

            .search-form-mobile .search-form-mobile__whereabout-wrapper .search-form-mobile__whereabout-item strong {
                font-size: 22px;
                line-height: 25px;
                margin: 5px
            }

    .search-form-mobile .search-form-mobile__travel-date-wrapper {
        padding: 8px
    }

        .search-form-mobile .search-form-mobile__travel-date-wrapper .search-form-mobile__travel-date-item {
            display: flex
        }

        .search-form-mobile .search-form-mobile__travel-date-wrapper .search-form-mobile__travel-date-item-wrapper {
            flex: 1
        }

        .search-form-mobile .search-form-mobile__travel-date-wrapper .search-form-mobile__travel-date-item-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px
        }

            .search-form-mobile .search-form-mobile__travel-date-wrapper .search-form-mobile__travel-date-item-container strong {
                font-size: 36px;
                line-height: 1;
                font-weight: 700
            }

            .search-form-mobile .search-form-mobile__travel-date-wrapper .search-form-mobile__travel-date-item-container span {
                font-size: 14px;
                line-height: 1
            }

        .search-form-mobile .search-form-mobile__travel-date-wrapper .search-form-mobile__travel-date-item-monthday {
            display: flex;
            flex-direction: column;
            margin-left: 4px
        }

        .search-form-mobile .search-form-mobile__travel-date-wrapper .search-form-mobile__travel-date-item-monthtext {
            margin-bottom: 2px;
            font-weight: 500
        }

        .search-form-mobile .search-form-mobile__travel-date-wrapper .search-form-mobile__travel-date-item .search-form-mobile__add-travel-date strong {
            font-size: 16px;
            line-height: 21px;
            font-weight: 700;
            padding-left: 4px
        }

        .search-form-mobile .search-form-mobile__travel-date-wrapper .search-form-mobile__travel-date-item .search-form-mobile__travel-date-item-label {
            color: #53605e;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center
        }

            .search-form-mobile .search-form-mobile__travel-date-wrapper .search-form-mobile__travel-date-item .search-form-mobile__travel-date-item-label svg {
                margin-right: 4px
            }

        .search-form-mobile .search-form-mobile__travel-date-wrapper .search-form-mobile__travel-date-item .search-form-mobile__travel-date-item-date {
            display: flex;
            align-items: center;
            justify-content: center
        }

            .search-form-mobile .search-form-mobile__travel-date-wrapper .search-form-mobile__travel-date-item .search-form-mobile__travel-date-item-date strong {
                padding-left: 4px;
                font-size: 16px
            }

    .search-form-mobile button[type=submit] {
        margin-top: 16px;
        padding: 0;
        height: 50px;
        font-size: 20px;
        font-weight: 700
    }

    .search-form-mobile__input-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        margin: 5px 8px 5px 5px;
        top: 0
    }

        .search-form-mobile__input-wrapper label.placeholder {
            font-size: 18px;
            position: absolute;
            z-index: 1;
            left: 11px;
            top: calc(50% - 5px);
            transform: translateY(calc(-50% + 5px));
            font-weight: 700
        }

        .search-form-mobile__input-wrapper .bsf__autocomplete {
            flex: 1
        }

        .search-form-mobile__input-wrapper .react-autosuggest__suggestions-container {
            margin-top: 15px;
            position: absolute;
            height: 100%;
            left: 0;
            width: 100%
        }
}

@media screen and (max-width:480px) and (max-width:576px) {
    .search-form-mobile__input-wrapper .react-autosuggest__suggestions-container {
        overflow-y: auto;
        bottom: 0;
        top: 32px;
        height: unset;
        position: fixed;
        padding-bottom: 72px
    }
}

@media (min-width:320px) and (max-width:360px) {
    .search-form-mobile .search-form-mobile__whereabout-wrapper .search-form-mobile__whereabout-item strong {
        font-size: 16px
    }
}

.search-form-mobile .bsf__today-tomorrow, .search-form-mobile .bsf__today-tomorrow-wrapper {
    display: flex;
    align-items: flex-end;
    flex: 1
}

.search-form-mobile .bsf__today-tomorrow-btn > div {
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #131717;
    height: 30px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #131717
}

    .search-form-mobile .bsf__today-tomorrow-btn > div svg {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 14px;
        height: 14px;
        fill: #fff;
        display: none
    }

    .search-form-mobile .bsf__today-tomorrow-btn > div.active {
        color: #131717;
        background: #eff3f2
    }

        .search-form-mobile .bsf__today-tomorrow-btn > div.active svg {
            fill: #53605e;
            display: unset
        }

.search-form-mobile > div {
    box-shadow: 0 0 8px 0 rgba(0,0,0,.05),0 3px 3px -2px rgba(0,0,0,.05)
}

.search-form-desktop label {
    display: block;
    margin-bottom: 4px
}

.search-form-desktop .bsf__datepicker-container, .search-form-desktop .bsf__station-container {
    align-content: center;
    justify-content: space-between;
    margin-bottom: 1rem
}

    .search-form-desktop .bsf__datepicker-container:last-child, .search-form-desktop .bsf__station-container:last-child {
        margin-bottom: 0
    }

    .search-form-desktop .bsf__station-container .bsf__arrival-station, .search-form-desktop .bsf__station-container .bsf__departure-station {
        width: calc(50% - 16px)
    }

    .search-form-desktop .bsf__station-container .bsf__station-interchange {
        display: flex;
        align-items: center;
        margin-top: 20px;
        cursor: pointer
    }

    .search-form-desktop .bsf__datepicker-container .bsf__departure-date, .search-form-desktop .bsf__datepicker-container .bsf__return-date {
        width: calc(50% - 16px)
    }

    .search-form-desktop .bsf__datepicker-container .bsf__is-one-way svg {
        margin-right: 2px;
        width: 18px;
        height: 18px
    }

.search-form-desktop .bsf__submit-container {
    justify-content: flex-end
}

    .search-form-desktop .bsf__submit-container .bsf__submit-wrapper {
        width: calc(50% - 12px)
    }

.search-form-desktop.plain {
    justify-content: space-between
}

    .search-form-desktop.plain .bsf__submit-button-wrapper {
        margin-top: -42px
    }

    .search-form-desktop.plain .bsf__datepicker-container, .search-form-desktop.plain .bsf__station-container {
        align-content: flex-start;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-right: 12px;
        width: 42%
    }

        .search-form-desktop.plain .bsf__datepicker-container.hideReturn, .search-form-desktop.plain .bsf__station-container.hideReturn {
            width: 49%;
            margin-right: 0
        }

        .search-form-desktop.plain .bsf__datepicker-container.hideReturn {
            margin-right: 0
        }

        .search-form-desktop.plain .bsf__datepicker-container .bsf__departure-date, .search-form-desktop.plain .bsf__datepicker-container .bsf__return-date {
            width: calc(50% - 6px)
        }

    .search-form-desktop.plain .bsf__submit-container {
        justify-content: flex-end;
        width: calc(16% - 24px);
        display: flex;
        align-items: center
    }

        .search-form-desktop.plain .bsf__submit-container .bsf__submit-wrapper {
            width: 100%
        }

.search-form-desktop .bsf__submit-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px
}

.search-form-desktop .bsf__today-tomorrow {
    display: flex;
    align-items: flex-end;
    flex: 1;
    padding-left: 32px
}

.search-form-desktop .bsf__today-tomorrow-btn {
    width: calc(50% - 8px)
}

    .search-form-desktop .bsf__today-tomorrow-btn > div {
        background-color: #fff;
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #131717;
        height: 40px;
        font-size: 14px;
        border: 1px solid #d7dddb;
        border-radius: 4px;
        cursor: pointer
    }

        .search-form-desktop .bsf__today-tomorrow-btn > div svg {
            position: absolute;
            top: 2px;
            right: 2px;
            width: 14px;
            height: 14px;
            fill: #fff
        }

        .search-form-desktop .bsf__today-tomorrow-btn > div.active {
            border: 1px solid #131717;
            color: #131717;
            background: #f8faf9
        }

            .search-form-desktop .bsf__today-tomorrow-btn > div.active svg {
                fill: #131717
            }

@media screen and (max-width:480px) {
    .search-form-mobile__input-dialog-close {
        margin-left: 8px
    }
}
